<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Create TODO</h1>
        <hr>
        <% if(typeof(errors) != 'undefined' ) { %>
            <% for (var x in errors) { %>
                <h3>
                    <%= errors[x].message %>
                </h3>
            <% } %>
        <% } %>
        <div class="form-group col-xs-12">
            <form action="/update/:id" method="POST">
                <label for="usr">Task:</label>
                <input type="text" class="form-control" id="task" name="task" style="width: 20%;">
                <label for="message">Description:</label>
                <textarea class="form-control" rows="4" id="desc" name="desc"></textarea>
                Completed:
                <select name="completed">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>